:root.theme-light {
  --cover-dark: url("../images/cover-image-light.png");
  --bc-color: #e8d3f1;
  --title-ul: #353430;
  --accent-color: #FF8DCB;
  --bor-color:  #ffc2e6;
  --text-color: #353430;
  --title-text: #353430;
  --title-ul-tran: rgba(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
  --cover-dark: url("../images/cover-image-light.png");
  --bc-color: #e8d3f1;
  --title-ul: #353430;
  --accent-color: #FF8DCB;
  --bor-color:  #ffc2e6;
  --text-color: #353430;
  --title-text: #353430;
  --title-ul-tran: rgba(53, 52, 48, 0.4);
  }

  :root:not(.theme-dark) .rec,
  :root:not(.theme-dark) .rec::after {
    display: none;
  }
}

:root.theme-light .rec,
:root.theme-light .rec::after {
  display: none;
}