/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  --cover-dark: url("../images/cover-image-dark.png");
  --bc-color: #070757;
  --color: #000028;
  --accent-color:#FF0070;
  --bor-color: #DB00FF;
  --link-bord: #fff;
  --text-color:#F1B2CE;
}
